/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');
@import url("components/container.css");
@import url("components/buttom.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
	width: 700px;
	margin: 0 auto;
}

@media (max-width: 720px) {
/* Para una pantalla < 720px, se leerá éste css*/
 .container {
	width: 500px;
	}
}

@media (max-width: 540px) {
	/*Para una pantalla <500. se leerá éste css */
	.container {
		width: 300px;
	}
}
