.footer {
  text-align: center;
  padding: 60px;
  background-color:#7B7D71;
}
div {
  display: block;
}
.footer a {
  font-size: 30px;
  color: 	#8286f8;
  ;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}
.footer .fas {
  color: #BF0F12;
